@using BlazorAppRc.Data
@using static System.Net.WebRequestMethods
@inject HttpClient Http
@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject BlazorAppRc.Services.AuthState AuthState

<header class="navbar navbar-light bg-light px-3 d-flex justify-content-between shadow-sm">
    <span class="fw-bold me-2 text-decoration-none" style="cursor: pointer;" @onclick="Recargar">Mi App</span>

    <div>
        @if (AuthState.IsAuthenticated)
        {
            @* <span class="me-2">@AuthState.Username</span> *@
            <a class="me-2 text-decoration-none" href="#" @onclick="IrAMisPost">@AuthState.Username</a>

            <span class="mx-2">|</span>
            <a href="#" class="text-decoration-none" @onclick="Logout">Cerrar sesión</a>
        }
        else
        {
            <a href="/login" class="me-2 text-decoration-none">Login</a>
            <span class="mx-2">|</span>
            <a href="/register" class="ms-2 text-decoration-none">Registro</a>
        }
    </div>
</header>

<div class="container mt-4" style="max-width: 700px;">
    @Body
</div>

@code {
    private bool _initialized = false;
    private bool _hasCheckedToken = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_initialized)
        {
            try
            {
                var token = await JS.InvokeAsync<string>("localStorage.getItem", "jwt");

                if (!string.IsNullOrEmpty(token))
                {
                    AuthState.IsAuthenticated = true;

                    var parts = token.Split('.');
                    if (parts.Length == 3)
                    {
                        var payload = parts[1];
                        var json = System.Text.Encoding.UTF8.GetString(ParseBase64WithoutPadding(payload));
                        var data = System.Text.Json.JsonSerializer.Deserialize<Dictionary<string, object>>(json);
                        if (data != null)
                        {
                            if (data.TryGetValue("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier", out var idValue))
                            {
                                AuthState.Id = idValue?.ToString();
                            }

                            if (data.TryGetValue("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name", out var usernameValue))
                            {
                                AuthState.Username = usernameValue?.ToString();
                            }
                            else if (data.TryGetValue("sub", out var subValue))
                            {
                                AuthState.Username = subValue?.ToString();
                            }
                            else
                            {
                                AuthState.Username = "Usuario";
                            }
                        }
                        // if (data != null && data.ContainsKey("unique_name"))
                        // {
                        //     AuthState.Username = data["unique_name"].ToString();
                        //     AuthState.Id = data["nameid"].ToString(); ;
                        // }
                        // else if (data != null && data.ContainsKey("sub"))
                        // {
                        //     AuthState.Username = data["sub"].ToString();
                        // }
                        else
                        {
                            AuthState.Username = "Usuario";
                        }
                    }

                    StateHasChanged();
                }

                _initialized = true;
            }
            catch(Exception ex)
            {
                Console.WriteLine($"Error al obtener el token. {ex.Message}");
            }
        }
    }

    private async Task Logout()
    {
        var refreshToken = await JS.InvokeAsync<string>("localStorage.getItem", "refreshToken");
        await Http.PostAsJsonAsync("api/authentication/logout", new { RefreshToken = refreshToken });

        await JS.InvokeVoidAsync("localStorage.removeItem", "jwt");
        await JS.InvokeVoidAsync("localStorage.removeItem", "refreshToken");

        AuthState.IsAuthenticated = false;
        AuthState.Username = null;
        Navigation.NavigateTo("/", true);
    }

    private static byte[] ParseBase64WithoutPadding(string base64)
    {
        switch (base64.Length % 4)
        {
            case 2: base64 += "=="; break;
            case 3: base64 += "="; break;
        }
        return Convert.FromBase64String(base64.Replace('-', '+').Replace('_', '/'));
    }

    private void IrAMisPost()
    {
        if (!string.IsNullOrEmpty(AuthState.Id))
        {
            Navigation.NavigateTo($"/mispost");
        }
    }

    private void Recargar()
    {
        Navigation.NavigateTo("/", forceLoad: true);
    }
}